{% assign Other projects = site.data.data.volunteering %}
{% if Other projects %}
<section class="Other projects">
    <h2 class="title">Other projects</h2>
    {% for vol in Other projects %}
        <div class="Other projects-item">
            <div class="role">
                {{vol.role}}
            </div>
            <div class="organization">
                {{vol.company}}
                <span class="time">{{vol.time}}</span>
            </div>
            <div class="details">{{vol.details}}</div>    
        </div>
        
    {% endfor %}
</section>
{% endif %}