:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #2f393f;
    --fg-color-dark: #333d42;
    --fg-color-body: #26282b;
    --fg-color-title-sm: #19689d;

}

[data-theme='dark'] {
    --bg-color: #28343b;
    --bg-color-cv: #1b262c;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: rgba(187,225,250,0.75);
    --fg-color-title-sm: #688293;
}
